<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>训练机</title>
    <script src="js/vue.js"></script>
    <script src="js/set.js"></script>
</head>
<body>
<div id="app">
    <div v-show="finish == 0">
        <div>{{problem.description}}</div>
        <button v-on:click = "next(0)">A</button>
        <button v-on:click = "next(1)">B</button>
        <button v-on:click = "next(2)">C</button>
        <button v-on:click = "next(3)">D</button>
    </div>

    <div v-show="finish == 1">
        <input type="checkbox" v-model="checked0">词汇量不足
        <input type="checkbox" v-model="checked1">语法能力差
        <input type="checkbox" v-model="checked2">阅读速度慢
        <button v-on:click = "end()">提交</button>
    </div>

    <div v-show="finish == 2">
        请将下面内容发送到收集者手上
        <br>
        {input: {{json(1)}},
        output: {{json(2)}} },
    </div>
</div>

<script>
    vue = new Vue({
        el: '#app',
        data: {
            answer: [],
            expect: [],
            time: 0.0,
            finish: 0,
            id: -1,
            checked0: false,
            checked1: false,
            checked2: false,
            problem: {id: -1, description: '', answer: 0}
        },
        methods: {
            next: function(num){
                if (vue.problem.answer === num){
                    vue.answer.push(1.0)
                } else {
                    vue.answer.push(0.0)
                }
                vue.answer.push(new Date().getTime()/1000 - vue.time);
                vue.time = new Date().getTime()/1000;
                if(vue.id == 9){
                    vue.finish = 1;
                }else{
                    vue.id++;
                    vue.problem = problemSet[vue.id];
                }
            },
            json: function(num){
                if(num == 1){
                    return JSON.stringify(this.answer);
                } else {
                    return JSON.stringify(this.expect);
                }

            },
            end: function(){
                this.finish = 2;
                this.expect.push(this.checked0?1.0:0.0);
                this.expect.push(this.checked1?1.0:0.0);
                this.expect.push(this.checked2?1.0:0.0);
            }
        }
    });
    vue.next();
    vue.answer = [];
    vue.time = new Date().getTime()/1000;
</script>
</body>
</html>